<div class="navigation">
  <!-- TOOLBAR -->
  <mat-toolbar color="primary" 
    class="toolbar"
    role="heading"
  >
    <!-- Toolbar Burger Icon -->
    <div>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon >
      </button>
    </div>

    <!-- Toolbar Logo -->
    <div>
      LOGO 
    </div>

    <!-- Toolbar Menu -->
    <div fxFlex
      fxHide.xs="true"
    >
      <ul 
        fxFlex
        fxLayout
        fxLayoutAlign="flex-end"
        fxLayoutGap="15px"
        class="navigation-items"
      >
        <!-- Home Link -->
        <li routerLink="/">
          <mat-icon matTooltip="Home">home</mat-icon>
        </li>

        <!-- Shop Link -->
        <li routerLink="/products"
        >
          <mat-icon matTooltip="Products">shopping_cart</mat-icon>
        </li>

        <!-- Login Link -->
        <li *ngIf="authService.isLoggedIn()" 
          routerLink="/login"
        >
          <mat-icon matTooltip="Login">input</mat-icon>
        </li>

        <!-- Register Link-->
        <li *ngIf="authService.isLoggedIn()"
          routerLink="/register"
        >
          <mat-icon matTooltip="Register">face</mat-icon>
        </li>

        <!-- Admin Link -->
        <li *ngIf="!authService.isLoggedIn() && authService.currentUser.admin"
          routerLink="/admin"
        >
          <mat-icon matTooltip="Admin Page">accessibility</mat-icon>
        </li>

        <!-- Logout Link -->
        <li *ngIf="!authService.isLoggedIn()">
          <mat-icon 
            (click)="logout()"
            matTooltip="Logout"
          >
            eject
          </mat-icon>
          
        </li>

      </ul>
    </div>
  </mat-toolbar>

  <!-- SIDENAV-->
  <mat-sidenav-container class="sidenav__container">  
    <mat-sidenav #sidenav role="navigation" class="sidenav"> 
        <mat-nav-list>

            <!-- Sidenav Home Menu-->
            <a mat-list-item 
                routerLink="/" 
                (click)="sidenav.close()"
            >
                <mat-icon class="icon">home</mat-icon>   
                <span>Home</span>
            </a>

            <!-- Sidenav Shop Menu-->
            <a mat-list-item 
                routerLink="/products" 
                (click)="sidenav.close()"
            >
                <mat-icon class="icon">shopping_cart</mat-icon>   
                <span>Shop</span>
            </a>

            <!-- Sidenav Login Menu-->
            <a mat-list-item 
                routerLink="/login" 
                (click)="sidenav.close()"
                *ngIf="authService.isLoggedIn()"
            >
                <mat-icon class="icon">input</mat-icon>   
                <span>Login</span>
            </a>
            
            <!-- Sidenav Signup Menu -->
            <a mat-list-item 
                routerLink="/register" 
                (click)="sidenav.close()"
                *ngIf="authService.isLoggedIn()"
            >
                <mat-icon class="icon">face </mat-icon>   
                <span>Register</span>
            </a>    
            
            <!-- Sidenav Admin Menu -->
            <a mat-list-item 
                routerLink="/admin" 
                (click)="sidenav.close()"
                *ngIf="!authService.isLoggedIn() && authService.currentUser.admin"
            >
                <mat-icon class="icon">accessibility</mat-icon>   
                <span>Admin</span>
            </a> 

            <!-- Sidenav Logout Menu-->
            <mat-list-item>
                <button mat-icon-button
                  *ngIf="!authService.isLoggedIn()"
                  (click)="authService.logout()"
                >
                    <mat-icon class="icon">eject</mat-icon>   
                    <span>Logout</span>
                </button>
            </mat-list-item>

        </mat-nav-list>   
    </mat-sidenav>

    <mat-sidenav-content>      
      <router-outlet></router-outlet>    
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>