<div class="content" 
  fxLayout="column"
  fxLayoutGap="10px"
>
  <h2>Admin Page</h2>

  <div class="menu"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
  >

    <div class="menu__item" fxFlex="25" fxLayoutAlign="center center">
      <mat-icon class="icon">settings</mat-icon>
    </div>

    <div class="menu__item" fxFlex="25" fxLayoutAlign="center center">
      <mat-icon class="icon">face</mat-icon>
    </div>

    <div class="menu__item" fxFlex="25" fxLayoutAlign="center center">
      <mat-icon class="icon">face</mat-icon>
    </div>

    <div class="menu__item" fxFlex="25" fxLayoutAlign="center center">
      <mat-icon class="icon">face</mat-icon>
    </div>
    
  </div>
  <!-- Insert a new product-->
  <a mat-raised-button 
    color="accent"
    routerLink="/admin/product/new"
  >
    New Products
  </a>

  <!-- Insert a new category -->
  <a mat-raised-button 
    color="accent"
    routerLink="/admin/product/new/category"
  >
    New Product Category
  </a>
</div><!-- Div Content-->

