.inputId{
    display:none;
}

.table{
    padding: 10px;
}

.filter{
    padding-left: 10px;
}
.mat-table{
    padding: 10px;
}

.mat-header-cell{
    padding-right: 40px;
    padding-left: 40px;
}

.mat-cell{
    padding: 10px;
}

.mat-mini-fab{
    margin: 5px;
}

form{
    padding: 10px;
}

.paginator{
    margin-top: 10px;
}