mat-drawer-container{
    height: 100vh;
}

mat-drawer{
    position: fixed;
    z-index: 999;
    top: 70px;
    width: 150px;
}

mat-drawer-content{
    top: 70px;
}

.mat-card{
    width: 200px;
    height: 360px;
    margin: 10px;
    overflow: auto;

    &__image{
        display: block;
        height: 200px;
    }

    &__button{
        margin-top: 20px;
        width: 100%;
    }

    &__content{
        height: 120px;
    }
}

a{
    text-decoration: none;
}





