<!-- HOME CONTAINER -->
<div class="container__home">

    <!-- Div Hero Less than xs -->
    <div class="hero-xs"
    fxHide.gt-xs="true"
    fxLayout="column"
    fxLayoutAlign="center center"
    >
      <div class="hero-xs__content"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <p fxLayout="column"
          fxLayoutAlign="center center"
        >
          <span class="hero-xs__title">Dream BIG and Keep It SIMPLE!</span>
          <span class="hero-xs__subtitle">Let's discuss your needs over a cup of coffee</span>
        </p>
        <button mat-raised-button 
          color="accent"
          class="hero-xs__button"
        >
          More Info
        </button>
      </div>
    </div><!-- Less than xs -->

    <!-- Hero Greater than xs -->
    <div class="hero"
      fxHide.xs="true"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="center center"
    >
      <div class="hero__content"
        fxFlex="50%"
      >
      </div>
      <div class="hero__right"
        fxFlex="50%"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <p fxLayout="column"
          fxLayoutAlign="center center"
        >
          <span class="hero__title">Dream BIG and Keep It SIMPLE!</span>
          <span class="hero__subtitle">Let's discuss your needs over a cup of coffee</span>
        </p>
        <button mat-raised-button 
          color="accent"
          class="hero__button"
        >
          More Info
        </button>
      </div>
        
    </div><!-- Greater than xs -->

    <!-- HOME BENEFITS CONTAINER -->
    <div class="container__home-benefits">

      <div class="container__home-benefits-title"
        fxLayout
        fxLayoutAlign="center"
      >
        <h1>Benefits of Using Our Services</h1>
      </div><!-- container__home-benefits-title -->         

      <div class="container__home-benefits-cards"
        fxLayout="row wrap"
        fxLayoutAlign="center center"
        fxLayoutGap="10px"
      >

        <!-- Card 1 -->
        <div class="benefits"
          fxLayout="column"
          fxLayoutAlign=" center"
        >
          <mat-icon class="benefits__icon" svgIcon="development"></mat-icon> 
          <mat-card class="benefits__card">
            <mat-card-title class="benefits__title">Fast Development</mat-card-title>                    
            <mat-card-content class="benefits__content">            
              We are the fastest in giving you out of this world service
            </mat-card-content>
          </mat-card>
        </div><!-- Div Card 1 -->

        <!-- Card 2 -->
        <div class="benefits"
          fxLayout="column"
          fxLayoutAlign=" center"
        >
          <mat-icon class="benefits__icon" svgIcon="design"></mat-icon> 
          <mat-card class="benefits__card">
            <mat-card-title class="benefits__title">Unique Design</mat-card-title>                    
            <mat-card-content class="benefits__content">  
              Your website is the only one with your own design in the world
            </mat-card-content>
          </mat-card>
        </div><!-- Div Card 2 -->

        <!-- Card 3 -->
        <div class="benefits"
          fxLayout="column"
          fxLayoutAlign=" center"
        >
          <mat-icon class="benefits__icon" svgIcon="coding"></mat-icon> 
          <mat-card class="benefits__card">
            <mat-card-title class="benefits__title">MVC Achitecture</mat-card-title>                    
            <mat-card-content class="benefits__content">  
              We are using MVC Achitecture to ensure your website is scalable in the future
            </mat-card-content>
          </mat-card>
        </div><!-- Div Card 3 -->

        <!-- Card 4 -->
        <div class="benefits"
          fxLayout="column"
          fxLayoutAlign=" center"
        >
          <mat-icon class="benefits__icon" svgIcon="ui"></mat-icon> 
          <mat-card class="benefits__card">
            <mat-card-title class="benefits__title">User Friendly UI</mat-card-title>                    
            <mat-card-content class="benefits__content">  
              We are very particular about user friendly user interface in our systems
            </mat-card-content>
          </mat-card>
        </div><!-- Div Card 4 -->

        <!-- Card 5 -->
        <div class="benefits"
          fxLayout="column"
          fxLayoutAlign=" center"
        >
          <mat-icon class="benefits__icon" svgIcon="devices"></mat-icon> 
          <mat-card class="benefits__card">
            <mat-card-title class="benefits__title">Mobile Responsive Design</mat-card-title>                    
            <mat-card-content class="benefits__content">  
              Nowadays, 70% uses mobile to surf the net. We create a web apps with mobile first design.
            </mat-card-content>
          </mat-card>
        </div><!-- Div Card 5 -->

        <!-- Card 6 -->
        <div class="benefits"
          fxLayout="column"
          fxLayoutAlign=" center"
        >
          <mat-icon class="benefits__icon" svgIcon="payment"></mat-icon> 
          <mat-card class="benefits__card">
            <mat-card-title class="benefits__title">Payment Gateway Connection</mat-card-title>                    
            <mat-card-content class="benefits__content">  
              We will include connections with payment gateway.
            </mat-card-content>
          </mat-card>
        </div><!-- Div Card 6 -->
      
      </div><!-- container__home-benefits-cards-->
    </div><!-- HOME BENEFITS CONTAINER container__home-benefits-->

  </div><!-- HOME CONTAINER --> 
